{
  "reduce": {
    "sourceDir": "images/uploads",
    "targetBucket": "dev.eggular",
    "targetDir": "images/reduce",
    "ACL": "public-read"
  },
  "resizes": [
    {
      "width": 100,
      "sourceDir": "images/uploads",
      "targetBucket": "dev.eggular",
      "targetDir": "images/100w",
      "ACL": "public-read"
    },
    {
      "width": 200,
      "sourceDir": "images/uploads",
      "targetBucket": "dev.eggular",
      "targetDir": "images/200w",
      "ACL": "public-read"
    }
  ]
}
